<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Wishlist</h1>
    <p>Berikut daftar obat yang telah dipilih</p>
  </div>
</div>

<div layout="column" flex>
  <md-grid-list cols="4" rowHeight="440px" *ngIf="collectedItems.length > 0">
    <md-grid-tile *ngFor="let item of collectedItems" [style.background]="'white'">

      <md-card [style.minHeight]="'100%'" [style.minWidth]="'100%'" [style.background]="'white'">
        <md-card-title style="background-color: darkturquoise; padding: 0.4em; font-size: 14pt">
          {{item.id_obat}}
        </md-card-title>
        <md-card-avatar>
          <img src="{{ item.img_src }}">
        </md-card-avatar>
        <md-card-content>
          <p>{{item.description}}</p>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <button md-button disabled>
            {{item.price}}
          </button>
          <button md-button (click)="onRemoveFromCollection(item)">
            <md-icon class="md-18">remove_shopping_cart</md-icon> Remove Cart
          </button>
        </div>
        
      </md-card>

    </md-grid-tile>
  </md-grid-list>
  <div class="container" *ngIf="collectedItems.length === 0">
    <div class="col-sm">
      <h3>Belum ada obat yang anda pilih</h3>
      <button md-button routerLink="/dataobat" style="background-color: #54cfa3; color: white">Beli Obat</button>
    </div>
  </div>
</div>