<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Tentang Kami</h1>
    <!--<p>Sabiq Al Hasby: Front End Web Developer</p>-->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2>Megapotek</h2>
      <p>Adalah apotek yang melayani segala jenis obat mulai dari obat keras, obat bebas dan obat herbal. Kami hanya melayani
        pembelian obat keras jika pembeli membawa bukti resep dari dokter. Dari segi pelayanan kami memiliki program layanan yang
        cepat melayani konsumen dalam waktu kurang dari 15 menit setelah menerima resep. Ini merupakan keuntungan konsumen dari
        inovasi layanan Megapotek. Sebagai pusat pelayanan jasa, kami menangani konsumen dengen memberikan saran secara obyektif
        dan memberikan informasi tentang obat-obatan. Dengan cara itu kami mengajarkan kepada konsumen dan mencegah konsumen agar
        tidak salah dalam mengkonsumsi obat-obatan. Dan kami juga memastikan kenyamanan dan layanan terbaik untuk konsumen.   </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Visi</h2>
      <ul>
          <li>Menyediakan obat-obatan dengan kualitas yang baik.</li>
          <li>Menyediakan pilihan obat yang lengkap dengan harga yang sama pagi-siang-malam dan hari libur.</li>
          <li>Melakukan konseling yang baik kepada pasien.</li>
          <li>Menyediakan program layanan yang cepat melayani konsumen dalam waktu kurang dari 15 menit setelah menerima resep.</li>
          <li>Memberikan pelayanan kesehatan yang optimal.</li>
      </ul>
    </div>


    <div class="col-md-6">
      <h2>Misi</h2>
      <ul>
         <li>Menjadikan rakyat Indonesia menjadi rakyat yang sehat, khususnya dalam bidang jasmani.</li>
         <li>Membuka hubungan baik antara pasien dan apoteker.</li>
         <li>Melakukan pelayanan informasi serta konsultasi obat dan kesehatan kepada konsumen.</li>
         <li>Menyediakan serta menyalurkan sediaan farmasi dan pembekalan kesehatan yang bermutu dan terjangkau kepada konsumen.</li>
      </ul>
    </div>

  </div>

  <hr>
</div>