<md-sidenav-container fullscreen="">
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item style="text-align: center">Menu 1</a>
      <a md-list-item style="text-align: center">Menu 2</a>
    </md-nav-list>
    <hr>
    <button md-button (click)="start.close()">Close</button>
  </md-sidenav>

  <md-toolbar color="primary" style="background-color: #54cfa3">
    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>
    <span routerLink="home">Megapotek</span>

    <span class="spacer">&nbsp;</span>


    <md-input-container class="bigClass" flex>
      <input mdInput/>
    </md-input-container>

    <button md-icon-button>
      <md-icon>search</md-icon>
    </button>



    <!--<button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>account_circle</md-icon>
    </button>-->

    <!--<md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/login">
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>

      <button md-menu-item routerLink="/signup">
        <md-icon>face</md-icon>
        <span>Sign Up</span>
      </button>
    </md-menu>-->
    <div>
      <button md-button *ngIf="!(af.auth | async)" (click)="login()">
        <span>Login</span>
      </button>
      <button md-button *ngIf="(af.auth | async)" (click)="logout()">
        <span>Logout</span>
      </button>
    </div>
  </md-toolbar>
  <nav md-tab-nav-bar>
    <span md-tab-link routerLink="home" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Home</span>
    <span md-tab-link routerLink="about" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">About</span>
    <span md-tab-link routerLink="dataobat" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">Data Obat</span>
    <span class="spacer">&nbsp;</span>
    <span md-tab-link routerLink="wishlist" routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive"> <md-icon>shopping_cart</md-icon> Wishlist</span>
  </nav>

  <div layout="column" flex>
    <nav style="padding: 0" class="navbar sticky-top navbar-light bg-faded">
      <!--<a class="navbar-brand" href="#">Fixed top</a>-->
      <flash-messages></flash-messages>
    </nav>
    
    <router-outlet></router-outlet>
    <footer>
      <p>&copy; Megapotek 2017</p>
    </footer>
  </div>
</md-sidenav-container>