<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Data Obat</h1>
    <p>Berikut daftar obat yang ada</p>
  </div>
</div>

<md-grid-list cols="4" rowHeight="440px">
  <md-grid-tile *ngFor="let item of collectables" [style.background]="'white'">

    <md-card [style.minHeight]="'100%'" [style.minWidth]="'100%'" [style.background]="'white'">
      <md-card-title style="background-color: darkturquoise; padding: 0.4em; font-size: 14pt">
        <span [routerLink]="['/detailobat']">{{item.id_obat}}</span>
      </md-card-title>
      <md-card-avatar>
        <img src="{{ item.img_src }}">
      </md-card-avatar>
      <md-card-content>
        <p>{{item.description}}</p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <button md-button disabled>
            {{item.price}}
        </button>
        <button md-button (click)="addToCart(item)">
            <md-icon class="md-18">add_shopping_cart</md-icon> add to cart
        </button>
      </div>
    </md-card>

  </md-grid-tile>
</md-grid-list>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>