<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Megapotek</h1>
    <p>Selamat Datang di Sistem Informasi Megapotek</p>
    <p><a routerLink="/dataobat" class="btn btn-primary btn-lg" role="button">Cek Daftar Obat &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Obat Keras</h2>
      <p>Obat yang hanya boleh diserahkan dengan resep dokter,
        dimana pada bungkus luarnya diberi tanda bulatan dengan
        lingkaran hitam dengan dasar merah yang didalamnya terdapat huruf
        “K” yang menyentuh garis tepi. Obat yang masuk ke dalam golongan obat
        keras ini adalah obat yang dibungkus sedemikian rupa yang digunakan secara
        parenteral, baik dengan cara suntikan maupun dengan cara pemakaian
        lain dengan jalan merobek jaringan, obat baru yang belum tercantum
        dalam kompendial/farmakope terbaru yang berlaku di Indonesia serta
        obat-obat yang ditetapkan sebagai obat keras melalui keputusan Menteri
        kesehatan Republik Indonesia

      </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Obat Bebas</h2>
      <p>Obat yang boleh digunakan tanpa resep dokter. Obat bebas dikenal juga dengan
        sebutan obat OTC (Over The Counter), terdiri atas obat bebas dan obat bebas terbatas
        Ini merupakan tanda obat yang paling "aman" . Obat bebas, yaitu obat yang bisa dibeli
        bebas di apotek, bahkan di warung, tanpa resep dokter, ditandai dengan lingkaran hijau
        bergaris tepi hitam. Obat bebas ini digunakan untuk mengobati gejala penyakit yang ringan.
        Misalnya : vitamin/multi vitamin (Livron B Plex, )</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Obat Herbal</h2>
      <p>Obat herbal adalah obat yang bersifat organik atau alami, sama seperti tubuh kita.
        Obat herbal murni diambil dari saripati tumbuhan atau hewan yang mempunyai manfaat untuk pengobatan,
        tanpa ada campuran bahan kimia buatan (sintetis). Obat Herbal yang berasal dari tumbuhan (nabati) misalnya
        jahe, bawang putih, kurma, jintan hitam (Habbatussauda), dsb. Yang berasal dari hewan (hewani) diantaranya
        Teripang (Gamat), Madu, Propolis, minyak ikan hiu, dsb.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>
</div>
